# secrets
.env
.env-backup
# dependencies
/node_modules
# production
/out
/build
/.next
/.next-export
# misc
.DS_Store
npm-debug.log*
coverage
transfers_2025.json
#(rename this every year)
public/leaderboards/lineups/*2024*
leaderboardDebug/*

.vercel
.metals
.scala-build
.bsp
.gitconfig
